.container {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator-light);
    border-radius: var(--radius-card);
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-medium));

    .header {
        flex-shrink: 0;
    }

    .content {
        flex-grow: 1;
        padding: var(--spacing-medium);
        overflow: auto;
    }

    .footer {
        flex-shrink: 0;
    }
}
