.title{
    display: inline;
    width: fit-content;
    flex-direction: row;
    width: 100%;
    font-family: 'Overpass', sans-serif;
    font-size: revert;
    font-weight: bold;
    color: #505BA1;
    :nth-child(even){
        margin-left:10px
    }
}