.cls-1{fill:none;}
.cls-2{clip-path:url(#clip-path);}
.cls-3{fill:#1eaae2;}

.st0{clip-path:url(#SVGID_2_);fill:#1EAAE2;}
.st1{fill:#FEFEFE;}
.st2{fill:#3E8EDD;}
.st3{fill:#FDFEFE;}
.st4{fill:#3F8FDE;}
.st5{fill:#4794E2;}
.st6{fill:#4895E2;}
.st7{fill:#3E8EDE;}
.st8{fill:#4593E1;}
.st9{fill:#4A96E3;}
.st10{fill:#4A96E2;}
.st11{fill:#4896E2;}
.st12{fill:#408FDE;}
.st13{fill:#ECF4FB;}
.st14{fill:#FDFDFE;}
.st15{fill:#ECF3FB;}
.st16{fill:#F2F7FC;}
.st17{fill:#E2EEFA;}
