.footer {
    display: block;
    width: 100%;
    height: 66px !important;
    display: flex;
    background-color: #E6E7E8;
    position: fixed;
    left: 0;
    bottom: 0;
    > .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: right;
        bottom: 20px;
        left: 15px;
        
        > .title{
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            font-size: 15px;
            text-align: left;
            line-height: 1;
            color: rgb(17, 16, 16);
            padding: 0;
            display: block;
            margin-top: 25px;
        }

        > .subtitle {
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            font-size: 15px;
            text-align: left;
            line-height: 1;
            color: rgb(17, 16, 16);
            padding-left: 80px;
            display: block;
            margin-top: 25px;

        }
    }

}


