nav {
    display: block;
    width: 100%;
    height: 100px !important;
    background-color: #E6E7E8;
}

.logo {
    display: block;
    width: auto;
    height: 100px;
    margin-right: auto;
}

.title-wrapper {
    display: flex;
    max-width: 980px;
    flex-direction: column;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    justify-content: space-evenly;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
    word-wrap: break-word;
    line-height: 1;
    color: #0b0b92;
    padding: 0;
    display: block;
}


.sub-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: right;
    color: #000000;
    display: block;
}

