nav {
    display: block;
    width: 100%;
    height: 10vh !important;
    background-color: #E6E7E8;

    > .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > .logo {
            display: block;
            width: auto;
            height: 10vh;
            margin-right: auto;
            opacity: 1;
        }
        >.wrapper {
            margin-left: auto;
            display: flex;
            max-width: 960px;
            flex-direction: column;
            padding: 0;
            margin-top: auto;
            margin-bottom: auto;
            height: 9vh;
            justify-content: space-around;
            > .title {
                font-family: 'Overpass', sans-serif;
                font-size: 20px;
                font-weight: 800;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-align: right;
                word-wrap: break-word;
                line-height: 1;
                color: #505BA1;
                opacity:1;
                padding: 0;
                display: block;
                margin-left: 15%;
            }
            > .subtitle {
                font-family: 'Overpass', sans-serif;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 1px;
                text-align: right;
                color: #2B2B2B;
                display: block;
                height:18px;
                opacity:1;
            }
        }
    }
}
