.dashboard {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    background-color: #787878;

    >.main {
        width: 100%;
        position: relative;

        .page {
            --page-ratio: 1.4142;
            --width: 1800px;
            background-color: #fff;

            width: var(--width);
            height: calc(var(--width) / var(--page-ratio));
            margin: 4px auto;
            display: flex;
            align-items: center;
        }
    }

    >.buttons {
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 1;
        padding: 0;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: 0 0;
        left: 0;
        top: 6%;
    }

    .container{
        display: block;
        width: 95%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

}

.section {
    margin: 10;
    padding: 10;
    flex-grow: 1;
}
