.dashboard {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    >.main{
        width: 100%;
        z-index: 0;
        position: absolute;
    }

    >.buttons {
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 100;
        padding: 0;
        margin-top: 95vh;
        margin-left: 92%;
        margin-right: 2%;
    }

    .container{
        display: block;
        width: 95%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

}

.page {
    flex-direction: 'row';
    background-color: '#E4E4E4';
    }
.section {
    margin: 10;
    padding: 10;
    flex-grow: 1;
    }