.dashboard {
    padding: 0;
    margin: 0;
    width: 100%;
    >.main{
        width: 100%;
        z-index: 0;
    }

    >.buttons {
        display: flex;
        flex-direction: row;
        z-index: 100;
        padding: 0;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 80%;
    }

    .container{
        display: block;
        width: 95%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

}