.barchart {
    display: flex;
    flex-direction: column;
    padding: 5px;

    >.heading{
        font-size: 15px;
        color: #06070f !important;
        font-weight:600;
        margin-bottom: 5px;
        font-family: 'Overpass', sans-serif;
    }
}