.ultraLarge{
    font-size: xxx-large;
    border-style: none;
}

.container {
    flex: 1;
    margin: var(--spacing-medium);
    padding: 5px;
}

.content {
    display: flex;
    position: relative;
    flex-direction: column;

    .table {
        width: 100%;
        overflow-x: auto;

        th {
            position: initial!important;
        }

        tr, th, td {
            border: 0!important;
        }

        .cell {
            background-color: #E5E6E7;
        }
    }
}

