.container {
    flex:1;
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);
}

.content {
    display: flex;
    position: relative;
    flex-direction: column;

    .table {
        width: 100%;
        overflow-x: auto;

        tr, th, td {
            border: 0!important;
        }

        th, td {
            a {
                display: block;
            }
        }
    }
}
