@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300&display=swap');
@import "../node_modules/@togglecorp/toggle-ui/build/index.css";

* {
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}

.bg-grey {
    background-color: #E5E6E7;
}

html,
body {
    padding: 0;
    margin: 0;
    font-weight: 300;
}
