.cls1{fill:#fff;}
.cls2{fill:#144b92;}
.cls3{fill:#1c4f95;}
.cls4{fill:#205096;}
.cls5{fill:#1a4e95;}
.cls6{fill:#1a4e93;}
.cls7{fill:#31579b;}
.cls8{fill:#194d93;}
.cls9{fill:#fefeff;}
.cls10{fill:#fcfcfd;}
.cls11{fill:#fcfcfe;}
.cls12{fill:#fdfdfe;}
.cls13{fill:#fefefe;}
.cls14{fill:#174c93;}
.cls15{fill:#1b4e94;}
.cls16{fill:#265297;}
.cls17{fill:#2d5599;}
.cls18{fill:#4762a2;}
.cls19{fill:#a4aacd;}